.ryiki-gradient {
  background: linear-gradient(
    32deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 102, 102, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
  opacity: 0.9;
}

.kitsunetsuki-gradient {
  background: linear-gradient(
    32deg,
    rgb(75, 2, 2) 0%,
    rgb(0, 0, 0) 40%,
    rgb(0, 4, 255) 50%,
    rgb(105, 1, 1) 60%,
    rgb(134, 1, 1) 70%,
    rgb(202, 3, 3) 80%,
    rgb(15, 0, 0) 90%,
    rgb(0, 0, 0) 95%
  ) !important;
  opacity: 0.9;
}

/*.cayreah-gradient {
  background: linear-gradient(
    45deg,
    rgba(0, 102, 204, 1) 0%,
    rgba(102, 204, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
  opacity: 0.9;
}*/


.player-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
  vertical-align: middle;
  border-radius: 50%;
}

@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  25% { background-position: 100% 0%; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0% 100%; }
  100% { background-position: 0% 50%; }
}
