.ryiki-gradient {
  background:
    url('images/Nerik_Banner.gif') center center / cover no-repeat !important;
  opacity: 0.9;
}

.kitsunetsuki-gradient {
  background: linear-gradient(
    32deg,
    rgb(75, 2, 2) 0%,
    rgb(0, 0, 0) 40%,
    rgb(0, 4, 255) 50%,
    rgb(105, 1, 1) 60%,
    rgb(134, 1, 1) 70%,
    rgb(202, 3, 3) 80%,
    rgb(15, 0, 0) 90%,
    rgb(0, 0, 0) 95%
  ) !important;
  opacity: 0.9;
}

.kircsi-gradient {
      background: linear-gradient(-45deg, #ff69b4, #ff1493, #ff007f, #db7093, #ffc0cb) !important;
      background-size: 200% 200% !important;
      animation: gradientFlow 6s ease infinite;
      opacity: 0.9;
}

.cayreah-gradient {
  background:
    url('images/Cayreah_Banner.png') center center / cover no-repeat !important;
  opacity: 0.9;
}

.gabor-gradient {
  background:
    url('images/Gabor_Banner.gif') center center / cover no-repeat !important;
  opacity: 0.9;
}

.player-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
  vertical-align: middle;
  border-radius: 50%;
}

@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  25% { background-position: 100% 0%; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0% 100%; }
  100% { background-position: 0% 50%; }
}
